<%= simple_form_for(@pub) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :district, collection: Pub::DISTRICTS %>
    <%= f.input :description %>
    <%= f.input :photo %>
  </div>

  <%= f.button :submit, class: "btn btn-base btn-brand" %>
<% end %>
